*{
    margin: 0px;
    padding: 0px;
    
}

.main{
    /* width: 100%;
    min-height: 100vh; */
    margin: 0px;
    padding: 0px;
}

.balanceCard{
    padding: 26px;
    margin-block: 10px;
    margin-bottom: 52px;

}

.main .sidenav{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 98vh;
    position: absolute;
    left: 0px;

}
.intro{
    background-color: #efefef;
    width: 88%;
}
#butterfly{
    width: 70%;
    padding-top: 10px;
}

p{
    margin-bottom: 0rem;
    font-family: inherit;
    font-weight: 400;
 
}


.middle .text{
    color: rgb(133, 32, 216)
}
.mybtn{
    background-color: #4935ff;
    color: white;
    width: 70%;
    padding: 11px;
    font-size: larger;
    margin: 15px;
    font-family: system-ui;
    font-weight: 500;
}
.end{
    border-left: 2px #4935ff solid;
    font-size: 13px;
}
.end p{
    font-size: 20px;
    margin: 4px;
    color: #434242;
}
.right a{
    color:#4935ff;
    font-family: unset;
    font-weight: 500;

}
.right a:hover{
    background-color: rgba(30, 143, 255, 0);
    color:#1c0cac;
}
.mybtn:hover{
    background-color: #2616b9;
    color: white;
}
figure {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
}
.goal p{
    border-bottom: 3px rgb(133, 32, 216) solid;
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 500;
}
.contribution p{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
}


.list-group-item{
    background-color: #ffffff; 
    padding-left: 0;
    border-bottom: 1px #7e7e7e solid;

}
.middle p{
    font-size: 14px;
    font-weight: 700;
}
.middle .fw-bold{
    font-size: 33px;
}

.dashboard{
    width: 100%;

}
ul{
    list-style: none;
    padding-left: 0rem;

}
.img-fluid {
    max-width: 100%;
    height: 5rem;
}
.card-title {
    font-size: 35px;
    margin-bottom: 0px;
}
.text-muted{
    font-size: 17px;
    position: relative;
    top: -4px;
}


.card{
    border-style: none;
    background-color: #f8f9fa00;
}
a{
    text-decoration: none;
    color: #8a8a8a;
    padding: 5px;
    border-radius: 10%;
}
a:hover{
    background-color: blue;
    color: aliceblue;
}

.right .text-muted{
    font-size: 13px;
    font-weight: 600;
}



/* @media only screen and (min-width: 768px) and (max-width: 1023px) {
  

  }
   */

  /* Mobile view */
  @media only screen and (max-width: 767px) {
    .main .sidenav{
       visibility: hidden;
    }
 
    #butterfly{
       visibility: hidden;
    }
    .intro{
        background-color: transparent;
        width: 100%;
    }

  }
  